#mapid {
	height: 500px;
}

html {
	height: 100%;
}

body .container {
	height: 100%;
}

.container {
	
}

#index-top-search {
	position: relative;
	height: 100%;
}

#index-bottom-map {
	padding-bottom: 10px;
}

.info {
	padding: 6px 8px;
	font: 14px/16px Arial, Helvetica, sans-serif;
	background: white;
	background: rgba(255, 255, 255, 0.8);
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
	border-radius: 5px;
}

.info h4 {
	margin: 0 0 5px;
	color: #777;
}

.gavatar.default {
	color: rgb(255, 255, 255);
	background-color: #008000;
	display: inline-block;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 20px;
	border-radius: 80px;
	width: 60px;
	height: 60px;
	line-height: 60px;
	margin: 2px;
	text-align: center;
}

.gavatar.selected {
	color: rgb(255, 255, 255);
	background-color: #0080c0;
	display: inline-block;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 20px;
	border-radius: 80px;
	width: 60px;
	height: 60px;
	line-height: 60px;
	margin: 2px;
	text-align: center;
}

.gavatar.all {
	color: rgb(255, 255, 255);
	background-color: #0080ff;
	display: inline-block;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 20px;
	border-radius: 80px;
	width: 60px;
	height: 60px;
	line-height: 60px;
	margin: 2px;
	text-align: center;
}

.gavatar.plus {
	color: rgb(255, 255, 255);
	background-color: #ff8040;
	display: inline-block;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 25px;
	border-radius: 80px;
	width: 60px;
	height: 60px;
	line-height: 60px;
	margin: 2px;
	text-align: center;
}

.gavatar:hover {
	opacity: 0.5;
}

.tracking-bottom {
	height: 800%;
}

.tracking-bottom .left {
	height: 100%;
	min-height: 800px;
	background-color: #000;
	margin: auto;
}

.tracking-bottom .right {
	height: 100%;
	min-height: 800px;
	background-color: #999;
	margin: auto;
}

.row .kid-info {
	height: 29%;
	min-height: 245px;
}

.row .kid-bmi {
	height: 69%;
	min-height: 520px;
}

.row .bmi-historical-chart {
	height: 49%;
	min-height: 390px;
}

.row .bmi-historical-table {
	height: 49%;
	min-height: 390px;
}

input[type=number]::-webkit-outer-spin-button, input[type=number]::-webkit-inner-spin-button
	{
	-webkit-appearance: none;
	margin: 0;
}

input[type=number] {
	-moz-appearance: textfield;
}

input[type=date]::-webkit-outer-spin-button, input[type=date]::-webkit-inner-spin-button
	{
	-webkit-appearance: none;
	margin: 0;
}

iframe {
	width: 50%;
	min-width: 300px;
	min-height: 800px;
}

hr {
	border-width: 2px
}

h2 {
	color: dimgrey !important;
}

blockquote {
	border-left: none
}

.quote-badge {
	background-color: rgba(0, 0, 0, 0.2);
}

.quote-box {
	overflow: hidden;
	margin-top: -50px;
	padding-top: -100px;
	border-radius: 17px;
	background-color: #4ADFCC;
	margin-top: 25px;
	color: white;
	width: 325px;
	box-shadow: 2px 2px 2px 2px #E0E0E0;
}

.quote-figure {
	overflow: hidden;
	margin-top: -50px;
	padding-top: -100px;
	border-radius: 17px;
	background-color: #ffc300;
	margin-top: 25px;
	color: white;
	width: 325px;
	box-shadow: 2px 2px 2px 2px #E0E0E0;
}

.quotation-mark {
	margin-top: -30px;
	margin-left: 30px;
	font-weight: bold;
	font-size: 100px;
	color: white;
	font-family: "Times New Roman", Georgia, Serif;
}

.quotation-mark-text {
	margin-top: 10px;
	margin-left: 30px;
	font-weight: bold;
	font-size: 45px;
	color: white;
	font-family: "Times New Roman", Georgia, Serif;
}

.quote-text-new {
	margin-left: 30px;
	font-size: 25px;
	margin-top: -20px;
}

.quote-text {
	margin-left: 30px;
	font-size: 25px;
	margin-top: -65px;
}

#description {
	font-family: Roboto;
	font-size: 15px;
	font-weight: 300;
}

#infowindow-content .title {
	font-weight: bold;
}

#infowindow-content {
	display: none;
}

#map #infowindow-content {
	display: inline;
}

.pac-card {
	width: 100%;
	margin: 10px 10px 0 0;
	border-radius: 2px 0 0 2px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	outline: none;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
	background-color: #fff;
	font-family: Roboto;
}

#pac-container {
	padding-bottom: 12px;
	margin-right: 12px;
}

.pac-controls {
	display: inline-block;
	padding: 5px 11px;
}

.pac-controls label {
	font-family: Roboto;
	font-size: 13px;
	font-weight: 300;
}

#pac-input {
	background-color: #fff;
	font-size: 15px;
	font-weight: 300;
	margin-left: 12px;
	padding: 0 11px 0 13px;
	text-overflow: ellipsis;
	width: 200px;
}

#pac-input:focus {
	border-color: #4d90fe;
}

#title {
	color: #fff;
	background-color: #4d90fe;
	font-size: 25px;
	font-weight: 500;
	padding: 6px 12px;
}

#target {
	width: 345px;
}


/*CSS FOR QUESTION MARK TOOLTIP*/
.help-tip{
    position: absolute;
    top: 18px;
    right: 18px;
    text-align: center;
    background-color: #BCDBEA;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    font-size: 14px;
    line-height: 26px;
    cursor: default;
}

.help-tip:before{
    content:'?';
    font-weight: bold;
    color:#fff;
}

.help-tip:hover p{
    display:block;
    transform-origin: 100% 0%;

    -webkit-animation: fadeIn 0.3s ease-in-out;
    animation: fadeIn 0.3s ease-in-out;

}

.help-tip p{    /* The tooltip */
    display: none;
    text-align: left;
    background-color: #1E2021;
    padding: 20px;
    width: 300px;
    position: absolute;
    border-radius: 3px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    right: -4px;
    color: #FFF;
    font-size: 13px;
    line-height: 1.4;
}

.help-tip p:before{ /* The pointer of the tooltip */
    position: absolute;
    content: '';
    width:0;
    height: 0;
    border:6px solid transparent;
    border-bottom-color:#1E2021;
    right:10px;
    top:-12px;
}

.help-tip p:after{ /* Prevents the tooltip from being hidden */
    width:100%;
    height:40px;
    content:'';
    position: absolute;
    top:-40px;
    left:0;
}

/* CSS animation */

@-webkit-keyframes fadeIn {
    0% { 
        opacity:0; 
        transform: scale(0.6);
    }

    100% {
        opacity:100%;
        transform: scale(1);
    }
}

@keyframes fadeIn {
    0% { opacity:0; }
    100% { opacity:100%; }
}